@import url('https://fonts.googleapis.com/css?family=Aladin|Antic');

          body {
            background-color: #a6dcee;
          }

          h1{
              color: black;
              font-family: "Aladin";
          }
          h2, h3, h4 {
            color:black;
              font-family: "Antic";
          }

          p{
            color: black;
          }
