@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">A few forms and some simple server-side logic-- learning the basics of Get,Post, query
    strings, form data and handling it all from an ASP.NET MVC 5 application.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mile to Metric Converter</h2>
        <p>
            Want to know how many milimeters there are in 50 miles? This calculator is for you. Uses query strrings to send form data to the server, 
            which performs the calculations and returns the answer in the requested page.
        </p>
        <p><a class="btn btn-default" href="http://localhost:54850/Home/MetricConverter">Try it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>