@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 5</h1>
    <p class="lead">For this Assignment we were to create a form for students to fill out when 
    something has gone wrong and need someone to come and fix the problem. We used sql and we created a database 
    to interact with our form.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tennant Request Form </h2>
        <p>
          If something has gone wrong in your aprtment please fill this form out, and we will contact you when we are 
            on our way to fix the issue. We will try our best to come as soon as possible but we are putting you on a list
            and we will be attending those who submit thier forms first. Thank You For Understanding.
        </p>
        <p><a class="btn btn-default" href="http://localhost:51371/Home/Create">Make Form &raquo;</a></p>
    </div>
   
</div>